<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact"> Contact</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>